*
{
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html
{
    overflow: scroll;
    overflow-x: hidden;
    background-color: #212529;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 5px 100px;
    
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: gray;
    text-decoration: none;
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: 2px; 
    transition: 0.5s;  
}
header.sticky .logo
{
    color: white;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    font-size: 20px;

}
header.sticky ul li a
{
    color: white;
}
@media(min-width: 701px)
{
    header.sticky
    {
        background-color: #212529a2;
    }
    header .logo:hover
    {
        font-size: 32px;
    }
    header ul li a:hover
    {
        font-size: 23px;
    }
}
@media(max-width: 700px)
{
    header
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
    }
    header .logo
    {
        display: flex;
        width: 100%;
        align-content: flex-start;
    }
    header ul
    {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0;
        opacity: 0
    }
    .nav-links li a
    {
        padding: 30px auto;
        font-size: 0;
        opacity: 0;
    }
    header.sticky
    {
        opacity: 0;
    }
    header.sticky ul li a
    {
        font-size: 0;
    }

    
}

/*
top background
*/

#top
{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), 
    url(../assets/images/top.jpg);
    /* Unsplash Wallpaper */
    background-position: center;
    background-size: cover;
}
.main-text
{
    
    
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #0e0e0e77;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -15%);
}
@media(max-width: 700px)
{
    .main-text
    {
        font-size: 20px; 

    }   
}

/*
About
*/

#about
{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#212529, #212529);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.box
{
    height: 200px;
    color: #343A40;
    border: 2px;
    border: 2px solid white;
    position: relative;
    color: #6C757D;
}
.content p
{
    text-align: center;
}
@media(min-width: 701px)
{
    .box h2
    {
        text-transform: lowercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 9vh 18vw;
        opacity: 1;
        transition: 1s;
        text-align: center;
        color: #6C757D;
    
    }
    #paragraph
    {
        opacity: 0;
        text-transform: lowercase;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1;
        color: #6C757D;
    }
    .box h2:hover
    {
        top: 30%;
        opacity: 0;
        transition: 0.3s;
    }
    .box h2:hover + #paragraph
    {
    
        opacity: 1;
        transition: 1s;
    }
}
@media(max-width: 700px)
{
    .box h2
    {
        text-transform: lowercase;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
    #paragraph
    {
        text-transform: lowercase;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        line-height: 16px;
    }
}

#projects
{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    background-image: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../assets/images/projects.jpg);
    /* Unsplash Wallpaper */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 20px;

}
.projects-header h1
{
    color: white;
    font-size: 30px;
    top: 80%;
    text-align: center;
}
.projects-info p
{
    color: white;
}
.projects-info a
{
    text-decoration: none;
    color: gray;
}
.projects-info a:hover
{
    color: white;
}
.projects-info h3
{
    color: white;
}

#contact
{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #212529;
}
.wrapper h1
{
    font-weight: lighter;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.media
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-53%, -50%);
}
.media li
{
    list-style: none;
    margin: 10px 30px;
    font-size: 30px;
    font-weight: lighter;
    padding: 20px 20px;
}
.media ul li a
{
    color: white;
    transition: 0.5s;
}

@media(min-width: 701px)
{
    .media li
    {
        display: inline-block;
    }
    .media ul li a:hover
    {
        color: #464646;
        transition: 0.5s;
    }
    .bottom-to-top a:hover
    {
        color: gray;
    }
}
@media(max-width: 700px)
{
    .wrapper h1
    {
        opacity: 0;
    }
    .media
    {
        top: 42%;
    }
    .media li
    {
        display: block;
    }
}
.bottom-to-top
{
    position:absolute;
    top:87%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.bottom-to-top p a
{
    color: gray;
    transition: 0.3s;
    text-decoration: none;
    top: 30%;

}
.dev
{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}
.dev p
{
    color: #6C757D;
}
