#projects
{
    width: 100%;
    height: 110vh;
    position: relative;
    margin: 0;
    background-image: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.9)), url(../../images/background/4.jpg);
    /* Unsplash Wallpaper */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.projects-info h1
{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid gray;
    border-radius: 50px;   
    text-align: center;
}
.projects-info h1:nth-child(1)
{
    top: 20%;
    left: 50%;
    font-size: 40px;
}
.projects-info h1:nth-child(2)
{
    top: 40%;
    left: 50%;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
}
.projects-info p
{
    position: absolute;
    color: white;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.projects-info p a
{
    text-decoration: underline rgba(255, 255, 255, 0.5);
    color: gray;
    transition: 0.5s;
    font-size: 18px;
}
.projects-info p a:hover
{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
@media(max-width: 700px)
{
    .projects-info p
    {
        top: 60%;
    }
}