html
{
    background-color: #212529;
    
    scroll-behavior: smooth;
    
}
@media(min-width: 701px)
{
    html
    {
        scroll-snap-type: y proximity;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}